<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Form</title>
</head>
<body>
<form name="Add Product">
    <label for="id"> ID </label>
    <input name="id" type="text" id="id">

    <label for="nama"> Nama </label>
    <input name="nama" type="text" id="nama">

    <label for="brand"> Brand </label>
    <input name="brand" type="text" id="brand">

    <label for="harga"> Harga </label>
    <input name="harga" type="text" id="harga">

    <label for="berat"> Berat </label>
    <input name="berat" type="text" id="berat">
</form>
</body>
</html>