<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product</title>
</head>
<body>
<h3> Product App </h3>
<button>
    <a th:href="@{~/product/add}"> New Product </a>
</button>
<table border="1">
    <thead>
    <tr>
        <th> ID </th>
        <th> Nama </th>
        <th> Brand </th>
        <th> Harga </th>
        <th> Berat </th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="data : ${product}">
        <td th:text="${data.id}"></td>
        <td th:text="${data.nama}"></td>
        <td th:text="${data.brand}"></td>
        <td th:text="${data.harga}"></td>
        <td th:text="${data.berat}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>