<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Form</title>
</head>
<body>
<form name="Add Fish">
    <label for="id"> ID </label> <br>
    <input name="id" type="text" id="id"> <br>

    <label for="nama"> Nama </label> <br>
    <input name="nama" type="text" id="nama"> <br>

    <label for="bobot"> Bobot </label>
    <input name="bobot" type="text" id="bobot"> <br>

    <label for="warna"> Warna </label> <br>
    <input name="warna" type="text" id="warna"> <br>

    <label for="habitat"> Habitat </label> <br>
    <input name="habitat" type="text" id="habitat"> <br>


</form>
</body>
</html>