<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fish</title>
</head>
<body>
<h3> Fish App </h3>
<button>
    <a th:href="@{~/fish/add}"> New Fish </a>
</button>
<table border="1">
    <thead>
    <tr>
        <th> ID </th>
        <th> Nama </th>
        <th> Bobot </th>
        <th> Warna </th>
        <th> Habitat </th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="data : ${fish}">
       <td th:text="${data.id}"></td>
       <td th:text="${data.nama}"></td>
       <td th:text="${data.bobot}"></td>
       <td th:text="${data.warna}"></td>
       <td th:text="${data.habitat}"></td>
    </tr>
    </tbody>

</table>
</body>
</html>