<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Form</title>
</head>
<body>
<form name="Add Sports">
    <label for="id"> ID </label> <br>
    <input name="id" type="text" id="id"> <br>

    <label for="nama"> Nama </label> <br>
    <input name="nama" type="text" id="nama"> <br>

    <label for="pemain"></label> <br>
    <input name="pemain" type="text" id="pemain"> <br>

    <label for="asal"></label> <br>
    <input name="asal" type="text" id="asal"> <br>

    <label for="tempat"> Tempat </label> <br>
    <input name="tempat" type="text" id="tempat"> <br>
</form>
</body>
</html>