<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Add</title>
</head>
<body>
<h1> Add Snack </h1>
<form th:action="@{~/snack/save}" method="post">

    <label for="id"> ID </label> <br>
    <input name="id" type="text" id="id"> <br>

    <label for="nama"> Nama </label> <br>
    <input name="nama" type="text" id="nama"> <br>

    <label for="brand"> Brand </label> <br>
    <input name="brand" type="text" id="brand"> <br>

    <label for="varRasa"> Varian Rasa </label> <br>
    <input name="varRasa" type="text" id="varRasa"> <br>

    <label for="berat"> Berat </label> <br>
    <input name="berat" type="text" id="berat"> <br>

    <button type="submit"> Simpan </button>
    <button>
        <a th:href="@{~/snack}"> Kembali </a>
    </button>
</form>
</body>
</html>