<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Form</title>
</head>
<body>
<form name="Add Accessories">
    <label for="id"> ID </label>
    <input name="id" type="text" id="id">

    <label for="nama"> Nama</label>
    <input name="nama" type="text" id="nama">

    <label for="bahan"> Bahan </label>
    <input name="bahan" type="text" id="bahan">

    <label for="warna"> Warna </label>
    <input name="warna" type="text" id="warna">

    <label for="unisex"> Unisex </label>
    <input name="unisex" type="text" id="unisex">


</form>
</body>
</html>