<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Form</title>
</head>
<body>
<form name="Add Fruits">
    <label for="id"> Id </label> <br>
    <input name="id" type="text" id="id"> <br>

    <label for="nama"> Nama </label> <br>
    <input name="nama" type="text" id="nama"> <br>

    <label for="warna"> Warna </label> <br>
    <input name="warna" type="text" id="warna"> <br>

    <label for="harga"> Harga </label> <br>
    <input name="harga" type="text" id="harga"> <br>

    <label for="rasa"> Rasa </label> <br>
    <input name="rasa" type="text" id="rasa"> <br>

    <input type="reset" value="Batal">
    <input type="submit" value="OK">
</form>
</body>
</html>