<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Form</title>
</head>
<body>
<form name="Add Singer">
    <label for="id"> ID </label>
    <input name="id" type="text" id="id">

    <label for="nama"> Nama </label>
    <input name="nama" type="text" id="nama">

    <label for="asal"> Asal </label>
    <input name="asal" type="text" id="asal">

    <label for="genre"> Genre </label>
    <input name="genre" type="text" id="genre">

    <label for="lagu"> Lagu </label>
    <input name="lagu" type="text" id="lagu">
</form>
</body>
</html>