<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>singer</title>
</head>
<body>
<h3> Singer App </h3>
<button>
    <a th:href="@{/singer/add}"> New Singer </a>
</button>
<table border="1">
    <thead>
    <tr>
        <th> ID </th>
        <th> Nama </th>
        <th> Asal </th>
        <th> Genre </th>
        <th> Album </th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="data : ${singer}">
        <td th:text="${data.id}"></td>
        <td th:text="${data.nama}"></td>
        <td th:text="${data.asal}"></td>
        <td th:text="${data.genre}"></td>
        <td th:text="${data.lagu}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>